@{
    ViewData["Navega Mundo"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<div class="htmldiv">
    <div class="div1 text-center">
        <h1>Navega Mundo</h1>
        <p>Sua próxima viagem está aqui</p>
    </div>

    <br />

    <div class="div2 text-center mb-5">
        <h1 class="display-4">Bem-vindo à Navega Mundo!</h1>
        <p>Confira os lugares mais visitados:</p>
    </div>
</div>

<h3 class="text-center mt-4">Rio de Janeiro</h3>
<br>

<div id="carouselRio" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
        <button data-bs-target="#carouselRio" data-bs-slide-to="0" class="active"></button>
        <button data-bs-target="#carouselRio" data-bs-slide-to="1"></button>
        <button data-bs-target="#carouselRio" data-bs-slide-to="2"></button>
        <button data-bs-target="#carouselRio" data-bs-slide-to="3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/img/rio1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Rio de Janeiro</h5> <p>onde o azul do mar encontra o verde das montanhas e a energia da cidade nunca dorme.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/rio2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Rio de Janeiro</h5> <p>onde o azul do mar encontra o verde das montanhas e a energia da cidade nunca dorme.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/rio3.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Rio de Janeiro</h5> <p>onde o azul do mar encontra o verde das montanhas e a energia da cidade nunca dorme.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/rio4.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Rio de Janeiro</h5> <p>onde o azul do mar encontra o verde das montanhas e a energia da cidade nunca dorme.</p> </div>
        </div>
    </div>

    <button class="carousel-control-prev"
            data-bs-target="#carouselRio"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next"
            data-bs-target="#carouselRio"
            data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

<h3 class="text-center mt-5">Grécia</h3>
<br>

<div id="carouselGrecia" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
        <button data-bs-target="#carouselGrecia" data-bs-slide-to="0" class="active"></button>
        <button data-bs-target="#carouselGrecia" data-bs-slide-to="1"></button>
        <button data-bs-target="#carouselGrecia" data-bs-slide-to="2"></button>
        <button data-bs-target="#carouselGrecia" data-bs-slide-to="3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/img/grecia1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Grécia</h5> <p>onde o branco das ilhas encontra o azul infinito do mar e a história vive em cada detalhe.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/grecia2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Grécia</h5> <p>onde o branco das ilhas encontra o azul infinito do mar e a história vive em cada detalhe.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/grecia3.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <<h5>Grécia</h5> <p>onde o branco das ilhas encontra o azul infinito do mar e a história vive em cada detalhe.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/grecia4.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Grécia</h5> <p>onde o branco das ilhas encontra o azul infinito do mar e a história vive em cada detalhe.</p> </div>
        </div>
    </div>

    <button class="carousel-control-prev"
            data-bs-target="#carouselGrecia"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next"
            data-bs-target="#carouselGrecia"
            data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

<h3 class="text-center mt-5">Porto Rico</h3>
<br>

<div id="carouselPortoRico" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
        <button data-bs-target="#carouselPortoRico" data-bs-slide-to="0" class="active"></button>
        <button data-bs-target="#carouselPortoRico" data-bs-slide-to="1"></button>
        <button data-bs-target="#carouselPortoRico" data-bs-slide-to="2"></button>
        <button data-bs-target="#carouselPortoRico" data-bs-slide-to="3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/img/pr1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Porto Rico</h5> <p>cores vibrantes, mar cristalino e o ritmo caribenho que encanta em cada esquina.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/pr2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Porto Rico</h5> <p>cores vibrantes, mar cristalino e o ritmo caribenho que encanta em cada esquina.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/pr3.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Porto Rico</h5> <p>cores vibrantes, mar cristalino e o ritmo caribenho que encanta em cada esquina.</p> </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/img/pr4.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block"> <h5>Porto Rico</h5> <p>cores vibrantes, mar cristalino e o ritmo caribenho que encanta em cada esquina.</p> </div>
        </div>
    </div>

    <button class="carousel-control-prev"
            data-bs-target="#carouselPortoRico"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next"
            data-bs-target="#carouselPortoRico"
            data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
